@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />  <!-- Include your NavMenu component here -->
    </div>
    <main>
        <article style="height: 940px;" class="px-20 overflow-hidden  ">
            @Body
        </article>
    </main>
</div>
