@page "/home"

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="flex flex-col w-full ">
    <div class="flex justify-content-between">
        <div class="w-96 h-56 border-gray-300 border-2 rounded-lg bg-white"></div>
        <div class="w-96 h-56 border-gray-300 border-2 rounded-lg bg-white"></div>
        <div class="w-96 h-56 border-gray-300 border-2 rounded-lg bg-white"></div>
    </div>
    <div class="flex space-x-14 mt-14">
        <div class="w-96 h-56 border-gray-300 border-2 rounded-lg bg-white"></div>
        <div class="w-96 h-56 border-gray-300 border-2 rounded-lg bg-white"></div>
        <div class="w-96 h-56 border-gray-300 border-2 rounded-lg bg-white"></div>
    </div>
</div>